@model Raybiztech.Kentico12.MVC.Widgets.MessageBoard.Models.MessageBoardViewModel
@if (Model.CustomTableData != null)
{
    <p> @Model.CustomTableData.Count Comment(s) </p>
    foreach (var item in Model.CustomTableData)
    {
        if (item.IsApproved != false)
        {
            <h3> @item.UserFirstName </h3>
            <p> @item.ItemCreatedWhen </p>
            <p> @item.UserComments </p>
        }
    }
}
<div class="section">
    @using (Ajax.BeginForm("Comments", "MessageBoard", new AjaxOptions { HttpMethod = "POST", OnSuccess = "CommentOnSuccess", OnFailure = "CommentOnFailure", UpdateTargetId = "divComments" }))
    {
        @Html.AntiForgeryToken()
        <span class="cls-Test" data-aunthenticationCheck="@User.Identity.IsAuthenticated.ToString().ToLower()" data-test=""></span>
        <div class="event_form">
            @Html.TextAreaFor(model => model.UserComments, new { @class = "form-control  txt-comment", @placeholder = "Comment", @required = "required" })
            @Html.HiddenFor(model => model.PageUrl, new { @class = "page-url" })
            @Html.HiddenFor(model => model.CustomtableName)
            @Html.HiddenFor(model => model.SubmitButtonText, new { @class = "btnText" })
            <span class="validation-text"></span>
            <button class="btn btn-primary pull-right btn-lg CommentsId" type="submit" data-toggle="modal" data-target="#postComment"></button>
        </div>
    }
</div>
<link href="~/Styles/MessageBoard/MessageBoard.css" rel="stylesheet" />
<script src="~/Kentico/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/MessageBoard/MessageBoard.js"></script>