@using CMS.DocumentEngine;
@model Raybiztech.Kentico12.MVC.Widgets.SmartSearchBox.Models.SmartSearchWidgetViewModel
@{
    int gropsize = TempData["groupsize"] != null ? Convert.ToInt32(TempData["groupsize"].ToString()) : 10;
}
<div class="container">
    @Html.HiddenFor(x => x.SearchText)
    <div class="col-md-6 col-md-offset-3">
        <!-- items being paged -->
        @if (Model.Items.Count > 0)
        {
            <ul>

                @foreach (var item in Model.Items.Take(Convert.ToInt32(Model.PageSize)).ToList())
                {
                    TreeNode node = (TreeNode)item.Data;
                    <h3>@item.Title</h3>
                    <span style="color: #008000">
                        @node.NodeAliasPath
                    </span>

                }
            </ul>
        }
        else
        {
            <span style="color:red">Results are not found </span>
        }

        <!-- pager -->
        @if (Model.Pager.EndPage > 1)
        {
            <ul class="pagination">
                @if (Model.Pager.CurrentPage > 1)
                {
                    <li>
                        <a href="javascript:void(0);" data-page="1" class="page-link"><span aria-hidden="true">&#60;</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" data-page="@(Model.Pager.CurrentPage - 1)" class="page-link"> <span aria-hidden="true">&laquo;</span> </a>
                    </li>
                }

                @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                {
                    <li class="@(page == Model.Pager.CurrentPage ? " active" : "" )">
                        <a href="javascript:void(0);" data-page="@(page)" class="page-link">@page</a>
                    </li>
                }

                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <li>
                        <a href="javascript:void(0);" data-page="@(Model.Pager.CurrentPage + 1)" aria-label="Next" class="page-link">  <span aria-hidden="true">&raquo;</span> </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" data-page="@(Model.Pager.TotalPages)" class="page-link"><span aria-hidden="true">&#62;</span></a>
                    </li>
                }
            </ul>
        }
    </div>

</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/SmartSearchBoxWidget/SearchResults.js"></script>