@using Raybiztech.Kentico12.MVC.Widgets.SmartSearchBox.Models
@model SmartSearchWidgetViewModel
<style>
    #divSearch {
        position: relative;
    }
</style>
@{
    string dynamicId = DateTime.Now.Ticks.ToString();
}

@Html.HiddenFor(x => x.ResultsUrl)
@Html.HiddenFor(x => x.IndexName)
<div class="search-block" id="divSearch">
    <div class="input-group search-box-cus">
        @if (Model.LableMode == true)
        {<label>@Model.LableName</label>}
        <input type="text" class="form-control searchtextinputwidget_@dynamicId" placeholder="@Model.PlaceHolder" data-url="@Model.ResultsUrl" data-page="@Model.PageNo" data-pageno="@Model.PageSize" data-index="@Model.IndexName" data-result="@Model.TotalResultCount" aria-describedby="basic-addon2">
        <input type="button" id="basic-addon2" class="btnsearchreuslts_@dynamicId" data-url="@Model.ResultsUrl" data-page="@Model.PageNo" data-pageno="@Model.PageSize" data-index="@Model.IndexName" data-result="@Model.TotalResultCount" value="@(Model.ButtonName!=null?Model.ButtonName:" Search")">
    </div>
</div>
@if (Context.Kentico().PageBuilder().EditMode)
{
    Html.RenderPartial("~/Views/Shared/Widgets/InlineEditors/_IndexInlineEditor.cshtml", new IndexWidgetPropertes
    {
        PropertyName = nameof(SmartSearchBoxWidgetProperties.Index),
        Types = Model.Indexes,
        Value = Model.IndexName

    });

}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $('.btnsearchreuslts_@dynamicId').click(function () {

        var text = $(this).prev().val();
        var resultUrl = $(this).attr('data-url');
        var Page = $(this).attr('data-page');
        var PageSize = $(this).attr('data-pageno');
        var Index = $(this).attr('data-index');
        var TotalCount = $(this).attr('data-result');

        SearchResult(text, resultUrl, Page, PageSize, Index, TotalCount)
    });

    $('.searchtextinputwidget_@dynamicId').on('keypress', function (event) {

        if (event.keyCode == 13) {
            var text = $(this).val();
            var resultUrl = $(this).attr('data-url');
            var Page = $(this).attr('data-page');
            var PageSize = $(this).attr('data-pageno');
            var Index = $(this).attr('data-index');
            var TotalCount = $(this).attr('data-result');
            SearchResult(text, resultUrl, Page, PageSize, Index, TotalCount)
        }

    });

    function SearchResult(text, resultUrl, Page, PageSize, Index, TotalCount) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("AssignValues", "SmartSearchWidget")',
            data: { index: Index, count: TotalCount },

            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data) {
                    if (text != "" && resultUrl != "") {
                        window.location.href = "/" + resultUrl + "?searchtext=" + text + "&page=" + Page + "&pagesize=" + PageSize;
                    }

                }
            }

        });

    }

</script>
