@model Raybiztech.Kentico12.MVC.Widgets.SmartSearchBox.Models.SmartSearchWidgetViewModel
<style>
    #divSearch {
        position: relative;
    }
</style>
@{
    string dynamicId = DateTime.Now.Ticks.ToString();
}

@Html.HiddenFor(x => x.ResultsUrl)
@Html.HiddenFor(x => x.IndexName)
<div class="search-block" id="divSearch">

    <div class="input-group search-box-cus">
        @if(Model.LableMode == true) {<label>@Model.LableName</label>}
        <input type="text" class="form-control searchtextinputwidget" placeholder="@Model.PlaceHolder" aria-describedby="basic-addon2">
        <input type="button" id="basic-addon2" class="btnsearchreuslts_@dynamicId" data-url="@Model.ResultsUrl" value="@(Model.ButtonName!=null?Model.ButtonName:"Search")">
    </div>
</div>
@if (Context.Kentico().PageBuilder().EditMode)
{
    Html.RenderPartial("~/Views/Shared/Widgets/InlineEditors/_IndexInlineEditor.cshtml", new Raybiztech.Kentico12.MVC.Widgets.SmartSearchBox.Models.IndexWidgetPropertes
    {
        PropertyName = nameof(Raybiztech.Kentico12.MVC.Widgets.SmartSearchBox.Models.SmartSearchBoxWidgetProperties.Index),
        Types = Model.Indexes
    });

}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $('.btnsearchreuslts_@dynamicId').click(function () {
        var text = $(this).prev().val();
        //var text = $('.searchtextinputwidget_@dynamicId').val();
        var resultUrl = $(this).attr('data-url');
        if (text != "" && resultUrl != "") {
            window.location.href = "/" + resultUrl + "?searchtext=" + text;
        }
    });
</script>